html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: #FF8008;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Montserrat";
}

h1 {
    margin: 160px 0px 0px 0px;
    font-weight: 500;
    color: White;
}

h2 {
    font-weight: 500;
    color: White;
}

input[type=text], select {
    width: 300px;
    padding: 12px 20px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Montserrat";
}

input::placeholder {
    color: #D3D3D3;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #ff6600;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 8px;
    cursor: pointer;
    font-family: "Montserrat";
}

#mark{
    font-weight: 300;
    font-size: 12px;
    color: White;
    margin: 24px;
}

#center{
  text-align: center;
  }
  
#result{
  text-align: center;
  margin: -150px 0px 0px 0px;
  visibility: hidden;
}

#courseTitle{
  font-weight: bold;
  margin: -24px 0px 0px 0px;
}

#courseDes{
  margin: 0px 0px 16px 0px;
}

.output{
  color: white;
  margin: 0px 0px 0px 0px;
}
  
